<div class="modal fade" id="modal-unlock-gauntlet" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ 'title.unlock_gauntlet'|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <p>
                        <i class="fas fa-exclamation-triangle"></i>
                        {{ 'error.unlock_gauntlet'|trans }}
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'btn.close'|trans }}</button>
            </div>
        </div>
    </div>
</div>