{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="row my-2 mx-2">
        <div class="col-md-2">
            {{ render(controller('App\\Controller\\DashboardController::menu')) }}
        </div>
        <div class="col-md-10">
            {% block dashboard_body %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(document).ready(function() {
            $('#btn-show-add-gauntlet').click(showAddGauntlet)
        })
    </script>
{% endblock %}